<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "vendor/autoload.php"
         backupGlobals               = "false"
         backupStaticAttributes      = "false"
         colors                      = "true"
         convertErrorsToExceptions   = "true"
         convertNoticesToExceptions  = "true"
         convertWarningsToExceptions = "true"
         processIsolation            = "false"
         stopOnFailure               = "false">

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="API_TOKEN" value="29-Cg2K8RSB"/>
        <env name="API_SECRET" value="29-FOYcmJZTnbHFPdCxfdbGw8qofnMf4R6CKp0hA9yhBUnKrluygwPuMOUyRPYspR9m"/>
    </php>

</phpunit>